.popupInfoTooltip__iconSuccessfully {
    width: 120px;
    min-height: 120px;
    background-image: url('../../../images/successfully.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 60px;
    background-size: 120px;
  }