.popupAdd__cell {
  position: absolute;
  top: calc(41.7vh - 165px);
  left: calc(50vw - 215px);
  width: 430px;
  min-height: 330px;
}

@media screen and (max-width: 602px) {
  .popupAdd__cell {
    width: 282px;
    min-height: 322px;
    top: calc(40.5vh - 161px);
    left: calc(50vw - 142px);
  }
}

@media screen and (min-width: 1500px) {
  .popupAdd__cell {
    top: 250px;
  }
}
