.profile__avatar-overlay {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    z-index: 1;
  }
  
  .profile__avatar-overlay::before {
    content: "";
    grid-column: 1/2;
    grid-row: 1/2;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: 1;
    background-image: url('../../../images/avatar-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
    z-index: 1;
  }
  
  @media screen and (max-width: 602px) {
    .profile__avatar-overlay::before {
      margin: 0 auto;
    }
  }
  